.footer {
    display: flex;
    flex: 1;
    padding: 30px;
    color: whitesmoke;
    background-color: #25262a;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: medium;
    font-weight: lighter;
  }

  @media (max-width: 600px) {
    .footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* margin-left: 20px; */
    }
  }
  