.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 

Navbar styling

*/

.navbar {
  position: fixed;
  justify-content: center;
  top: 0;
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  width: 100%;
  z-index: 1;
  background-color: #45423f;
  filter: opacity(0.93);
  backdrop-filter: blur(5px);
  /* #45423f */
}
.navbar li {
  display: inline;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: large;
  padding: -10px;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
}
.navbar li:hover {
  color: #edd0a4;
}

/* 

  Content Styling

*/

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  color: #8bbdfa;
  text-align: center;
  display: flex;
  flex-direction: row;
  margin: 3.5rem 0;
  padding: 10px;
  line-height: 1.5;
  border-radius: 15px;
  font-family: "Roboto", sans-serif;
  width: fit-content;
}

.text {
  font-size: 1.1rem;
  color: white;
  font-family: "Roboto", sans-serif;
}

.contact {
  color: #bdbdff;
  font-family: "Roboto", sans-serif;
  font-size: medium;
  padding: 10px;
  line-height: 1.5;
  border-radius: 15px;
}
.contact:hover {
  transition: 0.3s;
  background-color: #393945;
  border-radius: 15px;
}
.icon_display{
  display: flex;
  flex-direction: row;
}
/* 

Projects Styling

*/

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text h3 {
  text-align: center;
  color: #bdbdff;
  font-family: "Roboto", sans-serif;
  font-size: medium;
  padding: 10px;
  line-height: 1.5;
  border-radius: 15px;
  width: fit-content;
}
.text h3:hover {
  transition: 0.3s;
  background-color: #393945;
  border-radius: 15px;
}

/* 

Footer styling

*/

.footer {
  display: flex;
  flex: 1;
  padding: 30px;
  border-top: 2.5px solid #eaeaea;
  justify-content: center;
  align-items: center;
}


/* 

Media Queries

*/

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
