.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 

Navbar styling

*/

.navbar {
  position: fixed;
  justify-content: center;
  top: 0;
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  width: 100%;
  z-index: 1;
  background-color: #25262a;
  filter: opacity(0.9);
  backdrop-filter: blur(10px);
  /* border: 3px solid green; */
  /* #45423f */
}
.navbar li {
  display: inline;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-family: 'Courier New', Courier, monospace;
  /* font-family: monospace; 
  font-weight: light;  */
  font-size: large;
  padding: -10px;
  margin-left: 25px;
  margin-right: 25px;
}
.navbar li:hover {
  text-decoration: underline;
}
.navbar img {
  width: 20px;
  height: 20px;
  margin-top: 20px;
  margin-left: 25px;
  display: flex;
  justify-content: flex-end;
}

/* 

  Content Styling

*/

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  color: #0ae6b7;
  text-align: center;
  display: flex;
  flex-direction: row;
  margin: 3.5rem 0;
  padding: 10px;
  line-height: 1.5;
  border-radius: 15px;
  font-family: "Roboto", sans-serif;
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
  width: fit-content;
}
.profile_pic img {
  width: 150px;
  height: 150px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 50%;
  border: 2px solid #248a74;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: fit-content;
  padding: 20px;
  font-size: 1.1rem;
  color: white;
  font-family: monospace;
  font-weight: lighter;
  margin-bottom: 50px;
}
.text h1 {
  color: white;
  font-family: monospace;
  font-weight: lighter;
}


.contact {
  color: #f0f3bd;
  padding: 10px;
  line-height: 1.5;
  border-radius: 15px;
}
.contact:hover {
  transition: 0.3s;
  background-color: #0ab48f;
  border-radius: 15px;
}
.logo_display{
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
}
.logo {
  margin: 0px 10px 0px 10px;
}
/* 

Projects Styling

*/

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text p {
  margin-left: 24px;
}

.text h3 {
  text-align: center;
  color: #f0f3bd;
  font-family: 'Courier New', Courier, monospace;
  font-family: monospace;
  font-weight: lighter;
  font-size: large;
  padding: 10px;
  line-height: 1.5;
  border-radius: 15px;
  width: fit-content;
}
.text h3:hover {
  transition: 0.3s;
  background-color: #0ab48f;
  border-radius: 15px;
}


/* 

Footer styling

*/

.footer {
  display: flex;
  flex: 1;
  padding: 30px;
  /* border-top: 2.5px dotted rgb(3, 3, 3); */
  color: whitesmoke;
  /* color: #222; */
  background-color: #25262a;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  font-weight: lighter;
}


/* 

Media Queries

*/

@media (max-width: 600px) {
  .title {
    font-size: 2rem;
  }
  .text {
    width: 100%;
    font-size: 1rem;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar li {
    margin-left: 15px;
    margin-right: 15px;
  }
  .navbar img {
    margin-left: 0px;
  }
  .logo_display{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 100px;
  }
  .logo {
    margin: 10px 0px 10px 0px;
  }
}

/* Light theme Styling */

@media (prefers-color-scheme: light) {

  .navbar {
    background-color: rgb(222, 220, 216);
  }
  .navbar li {
    color: rgb(0, 0, 0);
  }

  .title {
    color: #028090;
  }

  .text {
    color: rgb(18, 18, 17);
  }
  .text h1 {
    color: rgb(18, 18, 17);
  }
  .text h3 {
    color: #028090;
  }

  .logo_display {
    background-image: linear-gradient(to right, #0ab48f, #0ab48f);
    border-radius: 15px;
  }

  .footer {
    border-color: rgb(222, 220, 216);
    background-color: rgb(222, 220, 216);
    color: #0ab48f;
  }
}