.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 

NAVBAR STYLING

*/

.navbar {
  position: absolute;
  justify-content: center;
  top: 0;
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  width: 100%;
  z-index: 1;
  background-color: rgb(97, 175, 239);
}
.navbar li {
  display: inline;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgb(97, 175, 239);
}
.navbar li:hover {
  transition: 1s;
  border: 1.5px solid #222;
  border-radius: 15px;
  padding-left: 30px;
  padding-right: 30px;
}

/* 

FOOTER STYLING

*/

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: rgb(97, 175, 239);
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  padding: 10px;
  line-height: 1.5;
  font-size: 1.5rem;
  background-color: #222;
  border-radius: 15px;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.logos {
  display: flex;
  flex-direction: row;
  background-color: #222;
  border-radius: 15px;
}

.logo {
  width:80px;
  height:80px;
  margin: 17px;
  padding: 0px -10px 0px -10px;
  filter: grayscale(100%);
  transition: 0.5s;
  display: flex;
  flex-direction: row;
}
.logo:hover {
  filter: grayscale(0%);
  transition: 0.5s;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
