.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  color: #0ae6b7;
  text-align: center;
  display: flex;
  flex-direction: row;
  margin: 3.5rem 0;
  padding: 10px;
  line-height: 1.5;
  border-radius: 15px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
  width: fit-content;
}

.text {
  color: white;
  font-family: monospace;
  font-weight: lighter;
  font-size: large;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 900px;
  height: 510px;
  margin: 25px 15px;
  padding: 15px;

  background-color: #0ae6b7;
  color:rgb(18, 18, 17);
  border-radius: 40px;
  font-size: x-large;
}
.text h1 {
  /* margin: 50px; */
  font-family: 'Courier New', Courier, monospace;
}
.text p {
  width: 400px;
  /* margin: 20px; */
  padding: 10px;
}
.display {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  margin: 50px;
}

.text h2 {
  color: #f0f3bd;
  font-family: 'Courier New', Courier, monospace;
  font-family: monospace;
  font-weight: lighter;
  border-radius: 17px;
  padding: 10px;
  color: #248a74;
}
.text h2:hover {
  transition: 0.3s;
  background-color: #0ab48f;
  border-radius: 17px;
  width: fit-content;
  padding: 10px;
  background-color: #0ab48f;
}



  /* Mobile Device Styling */
@media (max-width: 600px) {
  
  .display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .text {
    width: 100%;
  }
 
}

/* Light theme Styling */

@media (prefers-color-scheme: light) {

  .navbar {
    background-color: rgb(222, 220, 216);
  }
  .navbar li {
    color: rgb(0, 0, 0);
  }

  .title {
    color: #028090;
  }

  .text {
    color: rgb(18, 18, 17);
  }
  .text h1 {
    color: rgb(18, 18, 17);
  }
  .text h3 {
    color: #028090;
  }

  .logo_display {
    background-image: linear-gradient(to right, #0ab48f, #0ab48f);
    border-radius: 15px;
  }

  .footer {
    border-color: rgb(222, 220, 216);
    background-color: rgb(222, 220, 216);
    color: #0ab48f;
  }
}